
<div class="po-row">
  <div class="po-lg-6 po-md-12  background po-xs-hide" style="padding: 0;" >


    <div  >
      <po-container style="z-index: 10; position: absolute; background: #7CB228;padding: 0; width: auto;
      height: auto;max-width: 400px;margin-top: 8%;border-radius: 5px;margin-left: 20%;" >
        <h4 style="color: white;">Startup social, queremos tornar o mundo um lugar sustentável onde seres vivos e natureza possam viver em harmonia. Nosso projeto consiste em uma certificação descentralizada de produtores rurais, com sistema de recompensas de tokens de sustentabilidade, usando tecnologia blockchain e a plataforma Ethereum.</h4>
      </po-container>

      <img src="../../../../../assets/img/sintrop_login_alpha.png" style="width:100%;  max-height: 100vh; z-index:-1;opacity: 0.80;"  >

    </div>

  </div>
  <div class="po-md-12 po-lg-5 po-ml-4" style="margin-top: 10%;z-index:5;">

    <po-container  >


      <div class="po-row">

        <img src="../../../../../assets/img/262543420-sintrop-logo-com-degrade.png" style="width:200px; height: auto;">
        <div class="po-lg-12">
          <h1 class="po-mt-2">Seja bem-vindo </h1>
          <h4 class="po-mt-2">Nossa missão é tornar a agricultura sustentável no mundo através da tecnologia.</h4>
        </div>
      </div>
      <div class="po-row">
        <po-button  p-label="Sincronizar" (p-click)="logar()"  class="po-md-3 po-mt-5" > </po-button>

      </div>

      <div class="po-row po-ml-1 po-mt-1">
      <p>Clique no botão acima para sincronizar sua carteira Metamask.</p>

      </div>
    </po-container>
  </div>


</div>
