po-widget{
  --color-widget-background-color :#fff;

}

#Certificate > div > div.po-lg-6 > div > po-info.danger > div > div.po-info-container-title > span{
  color: red !important;
}

.font{
  font-size: 15px !important;
}
